'editor':
  'softWrap': true
  'autoIndent': true
  'showIndentGuide': true
  'normalizeIndentOnPaste': true
  'tabLength': 2
  'whitespace':
    'ensureSingleTrailingNewline': true
  'lineHeight': 1.5
  'showInvisibles': true
  'fontFamily': 'Menlo'
  'invisibles': {}
  'fontSize': 14
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
  'disabledPackages': [
    'linter-jscs'
    'linter-phpcs'
  ]
  'excludeVcsIgnoredPaths': false
'release-notes':
  'viewedVersion': '0.95.0'
'exception-reporting':
  'userId': '2410e788-870e-51f3-105c-1b43dc19d19e'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'fff9537feeed0ead131d47cc3dd2e15a40bfca56'
