"*":
  editor:
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    fontFamily: "Hack"
    backUpBeforeSaving: true
    softWrap: true
    fontSize: 12
  "exception-reporting":
    userId: "2410e788-870e-51f3-105c-1b43dc19d19e"
  welcome:
    showOnStartup: false
  metrics:
    userId: "fff9537feeed0ead131d47cc3dd2e15a40bfca56"
  latex:
    enableShellEscape: true
    engine: "xelatex"
  "tree-view":
    hideVcsIgnoredFiles: true
  pigments:
    mergeColorDuplicates: true
    groupPaletteColors: "by file"
    markerType: "square-dot"
    sortPaletteColors: "by color"
  "atom-ternjs": {}
