packages: [
  # Master of ceremonies
  "package-sync"

  "auto-detect-indentation"
  "editorconfig"
  "task-list"
  "zentabs"

  # Git integration
  "merge-conflicts"

  # Themes
  "monokai"

  # Linters
  "atom-lint"

  # Task helpers
  "grunt-helper"
  "gulp-helper"

  # Languages
  "language-fish-shell"
  "language-mustache"
  "language-eco"
  "language-ejs"
  "language-handlebars"
]
