packages: [
  # Master of ceremonies
  "package-sync"

  # General
  "advanced-open-file"
  "atom-ternjs"
  "build"
  "color-picker"
  "docblockr"
  "editorconfig"
  "emmet"
  "ex-mode"
  "file-icons"
  "latex"
  "pigments"
  "sort-lines"
  "tabs-to-spaces"
  "travis-ci-status"
  "vim-mode"
  "zentabs"

  # Git integration
  "git-control"
  "git-plus"
  "merge-conflicts"

  # Linters
  "linter"
  "linter-coffeelint"
  "linter-cpplint"
  "linter-csslint"
  "linter-haml"
  "linter-handlebars"
  "linter-javac"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-php"
  "linter-puppet"
  "linter-ruby"
  "linter-xmllint"
  "linter-xo"

  # Languages
  "language-docker"
  "language-dotenv"
  "language-eco"
  "language-ejs"
  "language-fish-shell"
  "language-fsharp"
  "language-gitignore"
  "language-handlebars"
  "language-latex"
  "language-puppet"
  "language-smarty"
  "language-viml"

  # Autocompletion
  "autocomplete-modules"
  "autocomplete-paths"
  "autocomplete-php"
  "autocomplete-snippets"

  # Minimap
  "minimap"
]
